%h1= h(_('Welcome to %{Quorum}!')) % {:Quorum => content_tag(:span, h(SITE_TITLE), :class => :siteName)}
%p= _('This is %{Quorum}, an invitation and scheduling system. If you have an account, please log in here; otherwise, please %{link}register%{/link}.') % {:Quorum => content_tag(:span, h(SITE_TITLE), :class => :siteName), :link => "<a href='#{register_url}'>", :'/link' => '</a>'}
- form_tag session_path do
  %table.login
    %tr
      %td
        %label{:for => "email"}&= _("E-mail address:")
      %td= text_field_tag 'email'
    %tr
      %td
        %label{:for => "password"}&= _("Password:")
      %td= password_field_tag 'password'
- if false
  /
    Uncomment this if you want this functionality
    %p
      %label{:for => "remember_me"} Remember me:
      = check_box_tag 'remember_me'
= submit_tag _('Log in')