<h1><%= _('Welcome to <span class="siteName">%s</span>!' % SITE_TITLE) %></h1>
<p><%= _('This is <span class="siteName">%{site}</span>, an invitation and scheduling system. If you have an account, please log in here; otherwise, please <a href="%{url}">register</a>.' % {:site => SITE_TITLE, :url => register_url}) %></p>
<% form_tag session_path do -%>
  <table class="login">
    <tr>
      <td><label for="email"><%= h _("E-mail address:") %></label></td>
		  <td><%= text_field_tag 'email' %></td>
		</tr>
    <tr>
      <td><label for="password"><%= h _("Password:") %></label></td>
      <td><%= password_field_tag 'password' %></td>
    </tr>
	</table>
<% if false -%>
<!-- Uncomment this if you want this functionality
<p><label for="remember_me">Remember me:</label>
<%= check_box_tag 'remember_me' %></p>
-->
<%- end -%>

<%= submit_tag _('Log in') %>
<% end -%>