-# TODO: stop defining variables in views!
- status = attendance_status(event, User.current_user)
%td{:class => status}
  -# TODO: can we use accepts_nested here?
  = form_tag({action: :change_status, id: event.id}, {class: :attendance}) do
    %p!= h(_("You are currently %{status}.")) % {:status => content_tag(:span, h(status_strings[status]), :class => status)}
    = select_tag(:status, options_for_select(status_strings.invert, status), :class => :commit, :id => nil)
    %span.progress &nbsp;
    %br
    = text_area_tag :comment, attendance_comment(event, User.current_user), placeholder: _('comment'), id: nil
    %br
    = submit_tag(h(_("Change status")))