- status = attendance_status(event, User.current_user)
%tr.vevent[event]
  %td.actions
    = map_link(event)
    %br
    = ical_link(event)
    %br
    - if event.allow?(:edit)
      = edit_link(event)
      %br
    - if event.allow?(:delete)
      = delete_link(event)
  %td
    %span.uid= ical_uid(event)
    = date_element(event)
  - if User.current_user.calendars.size > 1
    %td.calendar= event.calendar
  %td
    %h3.summary= event.name
    %span.location.vcard
      = event.site
      %br
      %span.street-address!= [h(event.street), h(event.street2)].join(tag(:br))
      %br
      :erb
        <span class="locality"><%= event.city %></span>, <span class="region"><%= event.state.code %></span> <span class="postal-code"><%= event.zip %></span><br>
        <span class="country-name"><%= event.state.country.code %></span>
    %br
    = distance_string(event, current_user)
  %td
    %div.description
      :markdown
        #{h event.description}
    %div.comments
      %span.user== #{current_user}:
      = attendance_comment event, current_user
  = render :partial => 'attendance', :locals => {:event => event}
  - yes = event.find_committed(:yes)
  - no = event.find_committed(:no)
  %td= render :partial => 'names', :object => yes
  %td= render :partial => 'names', :object => no
