- @status_strings ||= { :yes => _('attending'), :no => _('not attending'), :maybe => _('uncommitted') }
- status = attendance_status(event, User.current_user)
%tr.vevent[event]
  %td.actions
    = map_link(event)
    %br
    = ical_link(event)
    %br
    - if event.allow?(:edit)
      = edit_link(event)
      %br
    - if event.allow?(:delete)
      = delete_link(event)
  %td
    %span.uid&= ical_uid(event)
    = date_element(event)
  %td
    %h3.summary&= event.name
    %span.location.vcard
      = h(event.site) + tag(:br)
      %span.street-address= [h(event.street), h(event.street2)].join(tag(:br))
      %br
      :erb
        <span class="locality"><%= h(event.city) %></span>, <span class="region"><%= h event.state.code %></span> <span class="postal-code"><%= h event.zip %></span><br/>
        <span class="country-name"><%= h event.state.country.code %></span>
    %br
    = distance_string(event, current_user)
  %td
    %div.description
      :markdown
        #{h event.description}
  = render :partial => 'attendance', :locals => {:event => event}
  %td&= list_names(event.find_committed(:yes))
  %td&= list_names(event.find_committed(:no))
