<% form_for @current_object do |f| %>
	<table class="edit">
		<tr>
			<th><%= h _("Event name")%></th>
			<td><%= f.text_field :name %><%= _(error_message_on(:event, :name))%></td>
		</tr>
    <tr>
      <th><%= h _("Description")%></th>
      <td><%= f.text_area :description, :cols => 40, :rows => 6 %></td>
    </tr>
		<tr>
			<th><%= h _("Date") %></th>
			<td><%= f.date_select :date, :order => [:day, :month, :year], :start_year => 2006 %><%= error_message_on :event, :date %></td>
		</tr>
		<tr>
			<th><%= h _("Site")%></th>
			<td><%= f.text_field :site %></td>
		</tr>
		<tr>
			<th><%= h _("Street address")%></th>
			<td>
				<%= f.text_field :street %><br />
				<%= f.text_field :street2 %>
			</td>
		</tr>
		<tr>
			<th><%= h _("City")%></th>
			<td><%= f.text_field :city %></td>
		</tr>
		<tr>
			<th><%= h _("State")%></th>
			<td><%= f.collection_select :state_id, State.find(:all), :id, :name %><%= error_message_on :event, :state %></td>
		</tr>
		<tr>
			<th><%= h _("Zip")%></th>
			<td><%= f.text_field :zip %></td>
		</tr>
	</table>
	<%= submit_tag _("Save changes") %>
<% end %>