- form_for @current_object do |f|
  %table.edit
    %tr
      %th&= _("Event name")
      %td
        = f.text_field :name
        = _(error_message_on(:event, :name))
    %tr
      %th&= _("Description")
      %td= f.text_area :description, :cols => 40, :rows => 6
    %tr
      %th&= _("Date")
      %td
        = f.date_select :date, :order => [:day, :month, :year], :start_year => 2006
        = _(error_message_on(:event, :date))
    %tr
      %th&= _("Site")
      %td= f.text_field :site
    %tr
      %th&= _("Street address")
      %td
        = f.text_field :street
        %br
        = f.text_field :street2
    %tr
      %th&= _("City")
      %td= f.text_field :city
    %tr
      %th&= _("State")
      %td
        = f.collection_select :state_id, State.find(:all), :id, :name
        = _(error_message_on :event, :state)
    %tr
      %th&= _("Zip")
      %td= f.text_field :zip
  = submit_tag _("Save changes")