<table class="events">
	<tr>
		<td class="edit"><!-- blank --></td>
		<th><%= h _("Date") %></th>
		<th><%= h _("Event") %></th>
		<th><%= h _("Status") %></th>
		<th><%= h _("Attending") %></th>
		<th><%= h _("Not attending") %></th>
	</tr>
	<% for event in @events -%>
		<tr class="vevent" id="event_<%= event.id %>">
			<td class="edit"></td>
			<td>
				<h3 class="summary"><%= h(event.name) %></h3>
				<span class="location vcard"><span class="locality"><%= h(event.city) %></span>, <span class="region"><%= h event.state.code %></span>, <span class="country-name"><%= h event.state.country.code %></span></span>
			</td>
		</tr>
	<%- end %>
</table>