%p&= _('You are subscribed to the following calendars.')

%table.subscriptions
  %tr
    %td.actions
    %th&= _('Name')
    %th&= _('Role')
  - @permissions.each do |p|
    %tr[p]
      %td.actions
        - if p.role.name != 'admin'
          -# TODO: put link into a partial
          = link_to(h(_('unsubscribe')), url_for(:action => 'destroy', :id => p.id), :class => :unsubscribe)
      %td[p.calendar]&= p.calendar
      %td&= p.role
      
- if !@unsubscribed.empty?
  %p&= _('You may also subscribe to these calendars.')

  %table.unsubscribed
    %tr
      %td.actions
      %th&= _('Name')
    - @unsubscribed.each do |c|
      %tr[c]
        -# TODO: put link into a partial
        %td.actions= link_to(h(_('subscribe')), subscribe_path(:calendar_id => c.id), :class => :subscribe)
        %td.calendar&= c
          