%table.users
  %tr
    %th&= _('Name')
    %th&= _('E-mail')
    %th&= _('Address')
    %th&= _('Role for this calendar')
    %th&= _('Show on commitment reports?')
    %th
      &nbsp;
      / blank
  - for user in @users do
    - perm = user.permissions.find_by_calendar_id(@current_object)
    = form_for perm do |f|
      %tr[user]
        %td._name&= [user.lastname, user.firstname].compact.join(', ')
        %td._email&= user.show_contact ? user.email : ''
        %td._address= user.show_contact ? [user.street, user.street2, "#{user.city}, #{user.state.code} #{user.zip}, #{user.state.country.code}"].compact.collect {|s| h(s)}.join(tag(:br)) : ''
        %td._role
          - if user == User.current_user
            &= perm.role
          - else
            = f.collection_select :role_id, Role.find(:all, :order => :name), :id, :to_s, {}, {:id => "permission_#{perm.id}_role_id"}
        %td._show= f.check_box :show_in_report
        %td._submit= submit_tag(h(_('Save')))
